.p{
    border:2px solid powderblue;
    width: 800px;
    height: 400px;
    display:flex;
   flex-direction: row; /*  defines the axis of flex box */
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
   gap:10%;
}
.c1{
    border: 2px solid red;
    width: 100px;
    height: 100px;
}
.c7{
    /* order:-1; */
}
.c2{
    order:1;
    /* flex-grow: 2; */
}
.c3{
    /* order:2; */
}